header {
  text-align: center;
}

.search {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  border: 3px solid darkgoldenrod;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.index {
  width: 496px;
  height: 496px;
  float: left;
  border: 2px solid cornflowerblue;
  overflow: scroll;
}

.indexItem {
  display: block;
  border: 1px solid forestgreen;
  background-color: lightgrey;
}

.map {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  float: left;
}
