/* PHASE 3: Layout */
.content {
  width: 900px;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.content:before {
  content: "";
  position: absolute;
  width: 1px;
  left: 240px;
  top: 200px;
  bottom: 0;
  background-color: #ccc;
  display:block;
}

.content-sidebar {
  float: left;
  width: 239px;
  min-height: 240px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.content-main {
  float: right;
  width: 660px;
  min-height: 240px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
