/* PHASE 6: Sidebar */
.profile-picture {
  border: 1px solid black;
  border-radius: 5px;
  width: 198px;
  height: 198px;
  margin-left: 20px;
  margin-top: -99px;
}

.profile-info {

}

.profile-nav {

}
